<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--  -->

<!-- Toolbar -->


<div class="main">
  <div class="toolbar" role="banner">
    <span>Github Usernames and Public Repositories</span>
  </div>

  <div class="select">
    <h4>Select a Username</h4>
    <mat-form-field appearance="fill">
      <mat-label>Usernames</mat-label>
      <mat-select [(value)]="selectedUser" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let u of ulist" [value]="u">
          {{u}}
        </mat-option>
      </mat-select>
    </mat-form-field>  
  </div>

  <div class="display">
    <span>
     <h2>Repositories</h2>
    </span>
    <div>
      <div *ngFor="let repo of repositories" class="repo-list">
      {{repo}}
      </div>
    <!-- <span>{{repositories}}</span> -->
  </div>
  
</div>
  




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
