:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000080;
    text-align: center;
    color: white;
    font-weight: 600;
    overflow: auto;
    font-size: 30px;
    font-weight: 400;
    font-family: monospace;
    align-content: center;
    justify-content: center;    
  }
.main{
    background-color: #8cb3b3;
    width: 100%;
    height: 100%;
    overflow:hidden;
    text-align:center;
    
}
.select {
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    height: 160px;
    //display: flex;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-color: rgb(197, 166, 99);

}

.display {
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    height: 300px;
    //display: flex;
    overflow: scroll;
    align-items: center;
    text-align: center;
    background-color: rgb(61, 157, 147);
}
repo-list{
    z-index: 1;
    color: black;
    font-family: monospace;
    font-weight: 400;
}
.test {
    border: #000080;
}